.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}    
 
    

.navigation__item{
    color: #fff;
    font-size: 14px;
    font-family:'Montserrat',Light,verdana,sans-serif;
}